{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>

<body>
    <div class="header_dashboard">
        <h1>Welcome [user_name]!</h1>
        <h2>This is the Dashboard</h2>
    </div>
    <div class="body_dashboard">
        <div class="container_deck">
            <div class="title_deck">
                <h4>Deck Title</h4>
            </div>
            <div class="body_deck">
                <p>Deck Description</p>
            </div>
        </div>
        <div class="container_deck">
            <div class="title_deck">
                <h4>Deck Title</h4>
            </div>
            <div class="body_deck">
                <p>Deck Description</p>
            </div>
        </div>
        <div class="container_deck">
            <div class="title_deck">
                <h4>Deck Title</h4>
            </div>
            <div class="body_deck">
                <p>Deck Description</p>
            </div>
        </div>
        <div class="container_deck">
            <div class="title_deck">
                <h4>Deck Title</h4>
            </div>
            <div class="body_deck">
                <p>Deck Description</p>
            </div>
        </div>
        <div class="container_button_add_deck">
            <button class="button_add_deck"></button>
        </div>
    </div>
</body>

</html>