{% extends "base.html" %} 
{% load staticfiles %} 

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

<div class="header_dashboard">
    <h2>Welcome to the Dashboard, {{ user }}!</h2>
    <a href="{% url 'add_deck' user.pk %}" class="link_button_add"><button class="button_add_deck"><img src="{% static 'assets/icon-add.png' %}" class="image_add"></button></a>
</div>
<div class="body_dashboard">
    {% for deck in user.decks.all %}
    <div class="container_deck">
        <div class="title_deck">
            <div>
                <h4>{{ deck.subject }}</h4>
            </div>
            <div class="container_buttons_deck">
                <div class="container_button_deck">
                    <a href="{% url 'edit_deck' deck.pk %}" class="link_button_edit"><button class="button_edit_deck"><img class="image_edit" src="{% static 'assets/icon-edit-white.png' %}"></button></a>
                </div>
                <div class="container_button_deck">
                    <button class="button_delete_deck" data-deck-pk="{{ deck.pk }}"><img class="image_delete" data-deck-pk="{{ deck.pk }}" src="{% static 'assets/icon-delete-white.png' %}"></button>
                </div>
            </div>
        </div>
        <div class="body_deck">
            <div>
                <h4>{{ deck.title }}</h4>
            </div>
            <div>
                <p>{{ deck.description }}</p>
            </div>
            <div class="container_button_test_deck">
                    <a href="{% url 'test_deck' pk=deck.pk %}" class="link_button_test"><button class="button_test_deck">Start Testing with this Deck!</button></a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% comment %} <div id="container_button_add_deck">
        
    </div> {% endcomment %}
</div>

{% endblock %}