{% extends "base.html" %} {% load staticfiles %} {% block content %}

<div class="header_dashboard">
    <h1>Welcome {{ user }}!</h1>
    <h2>This is the Dashboard</h2>
</div>
<div class="body_dashboard">
    {% for deck in user.decks.all %}
    <div class="container_deck">
        <div class="title_deck">
            <div>
                <h4>{{ deck.subject }}</h4>
            </div>
            <div class="container_buttons_deck">
                <div class="container_button_deck">
                    <a href="{% url 'edit_deck' %}" class="link_button_edit"><button class="button_edit_deck"><img class="image_edit" src="{% static 'assets/icon-edit-white.png' %}"></button></a>
                </div>
                <div class="container_button_deck">
                    <button class="button_delete_deck" data-deck-pk="{{ deck.pk }}"><img class="image_delete" data-deck-pk="{{ deck.pk }}" src="{% static 'assets/icon-delete-white.png' %}"></button>
                </div>
            </div>
        </div>
        <div class="body_deck">
            <div>
                <h4>{{ deck.title }}</h4>
            </div>
            <div>
                <p>{{ deck.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div id="container_button_add_deck">
        <a href="{% url 'add_deck' %}" class="link_button_add"><button class="button_add_deck">Later: make a template named "decks_add.html" to link this to</button></a>
    </div>
</div>

{% endblock %}