{% extends "base.html" %} {% block content %}
<h1>Edit deck</h1>

<body>
    {% csrf_token %}
    <form>
        Answer:<br>
        <input type="text" name="Answer" value=" ">
        <br> Question:
        <br>
        <input type="text" name="Question" value=" ">
        <br><br>
        <input type="submit" value="Submit">
        <input type="save" value="Save">
    </form>

    <div class="container_deck">
        <div class="title_deck">
            <div>
                <h4>{{ deck.subject }}</h4>
            </div>

        </div>
        <div class="body_deck">
            <div>
                <h4>{{ deck.title }}</h4>
            </div>
            <div>
                <p>{{ deck.description }}</p>
            </div>
        </div>
    </div>




</body>
<!-- <div class="container_deck">
        <div class="title_deck">
            <div><h4>{{ deck.subject }}</h4></div>
            
                
            
        </div>
        <div class="body_deck">
            <div><h4>{{ deck.title }}</h4></div>
            <div><p>{{ deck.description }}</p></div>
        </div> -->
</div>
{% endblock %}