{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Testing</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/testing.css' %}">
</head>


<body>
    <div class="header_testing">
        <h2>Testing!</h2>
    </div>
    <div class="body_testing">
        <label>
            <input type="checkbox">
            <div class="card">
                <div class="front">
                    <div id="body_front_card">
                        What year was the War of 1812?
                    </div>
                </div>
                <div class="back">
                    <div id="body_back_card">
                        ...1812... what are you? an idiot?
                    </div>
                </div>
            </div>       
        </label>
    </div>
</body>

</html>