{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<body>
    <div class="header_testing">
        <h2>Testing!</h2>
    </div>
    <div class="body_testing">
        <label>
            <input type="checkbox">
            <div class="card">
                {% for card in deck.all %}
                <div class="front">
                    <div id="body_front_card">
                        <div class="title_card">Question</div>
                        <div class="body_card">{{ card.question }}</div>
                    </div>
                </div>
                <div class="back">
                    <div id="body_back_card">
                            <div class="title_card">Answer</div>
                            <div class="body_card">{{ card.answer }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>       
        </label>
    </div>
</body>

 {% endblock %}