/*======================| Allowing each border and margin to reach the edge of the Viewpoet |======*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*======================| Disables gross green outline for all Buttons on Page |===================*/

* button:focus {
    outline: none;
}


/*======================| Disables Hyperlinks having the blue underlined font |====================*/

* a {
    text-decoration: none;
}


/*======================| Colors main Body of the Page |===========================================*/

body {
    background-color: #495040;
    display: flex;
    flex-direction: column;
}

.header_add {
    background-color: #353534;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 10px groove #292929;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.header_add h1,
h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
    color: white;
    text-shadow: -3px 5px 4px black;
}

.title_span {
    color: orange;
    font-size: 1.5rem;
    text-decoration: underline;
    text-shadow: -5px 2px 4px black;
}

.form_container {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}